.app4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app4 .circle {
    width: 30vw;
    height: 30vh;
    border-radius: 50%;
    border: 1px solid red;
}

@keyframes changeColor {
    0% {
        background: orangered;
    }
    100% {
        background: indigo;
    }
}
.app4 .circle.active{
    animation: changeColor 1s infinite alternate linear;
}